<div id="col_left">
    <header>Your Name</header>
    <div id="bio">
        {{#if bio}}
            {{{bio}}}
        {{else}}
            <p>Bio coming soon!</p>
        {{/if}}
    </div>
    {{> social}}
</div>
<div id="col_right">
    <div id="profile_image">
        <div id="badge_coder">

        </div>
        <div id="badge_geek">

        </div>
    </div>
</div>