<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Keith Vassallo</title>
        <link rel="stylesheet" href="css/index.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        {{{_sections.head}}}
    </head>
    <body>
         <div id="container">
            {{{body}}}
         </div>
        {{{_sections.scripts}}}
    </body>
</html>